<div class="footer">
        <a href="https://github.com/seananderson/seananderson.github.com">Template written by
Sean C. Anderson</a>
    <span class="mastdiv">/</span>
        <a href="/feed.xml">RSS</a>
    <span class="mastdiv">/</span>
        <a href="http://creativecommons.org/licenses/by-nc/3.0/deed.en_US">CC BY-NC Licensed</a>
</div>

</div>
</div>
</div><!-- container -->

<!-- End Document
================================================== -->
<script type="text/javascript" src="/js/retina.js"></script>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
  var pageTracker = _gat._getTracker("UA-465334-5");
  pageTracker._trackPageview();
} catch(err) {}
</script>

</body>
</html>
