<!DOCTYPE html>
<html>
<head>
<title>Gustavo Pinto, Software Engineering Researcher</title>
<meta name="description" content="Gustavo Pinto, PhD, Software Engineering Researcher" />
</head>
<meta name="bitly-verification" content="79b08e10cab3"/>
<xmp theme="simplex" style="display:none;">
  {{content}}
</xmp>

<script src="http://gustavopinto.org/strapdown/v/0.2/strapdown.js"></script>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
  var pageTracker = _gat._getTracker("UA-465334-5");
  pageTracker._trackPageview();
} catch(err) {}
</script>
</html>
